* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    background-color: #fff;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.login-page {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: #f4f4f9;
}

.login-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
    background-color: #fff;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.login-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.start-form {
    width: 100%;
    max-width: 400px;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: start;
    font-size: 0.9rem;
    color: black;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #4a5fd5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
}

.login-btn:hover {
    background-color: #1d2b7a;
}

.error {
    color: red;
    font-size: 0.9rem;
}

.signup-text {
    font-size: 0.9rem;
    color: #555;
    text-align: center;
    margin-top: 10px;
}

.signup-link {
    color: #1d2b7a;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.signup-link:hover {
    text-decoration: underline;
    color: #4a5fd5;
}

.login-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #4a5fd5, #6c63ff);
    padding: 20px;
}

.login-image img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .login-page {
        flex-direction: column;
    }

    .login-section {
        padding: 20px;
    }

    .login-image {
        height: 40vh;
    }

    .login-image img {
        width: 100%;
        height: auto;
        border-radius: 0;
    }
}
